.name-serving {
  padding: 5px 12px;
  color: limegreen;
  border: 1px #e6e7e8 solid;
  font-size: 1.5em;
  background-color: #0851c7;
  display: inline-block;
}

.name {
  padding: 5px 12px;
  color: white;
  border: 1px #e6e7e8 solid;
  font-size: 1.5em;
  background-color: #0851c7;
  display: inline-block;
  width: 150px;
}
